@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

header {
    margin: 20px 0;
}

h1 {
    font-family: 'Montserrat';
    font-size: 2.0rem;
    margin-bottom: 10px;
}

p {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #666;
}

.video-container {
    margin: 20px 0;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    max-width: 560px;
    border: none;
}

.buttons {
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.whatsapp {
    background-color: #2ECC71;
}

.comprar {
    background-color: #2ECC71;
}

.info-section {
    display: flex; /* Ativa o Flexbox */
    width: 100%;
    max-width: 1200px; /* Largura máxima do contêiner */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas opcionais */
    overflow: hidden; /* Garante que nada ultrapasse as bordas arredondadas */
    background-color: #ffffff;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    background-color: #ffffff; /* Cor de fundo para contraste */
}

.image img {
    max-width: 100%; /* Imagem responsiva */
    height: auto; /* Mantém a proporção da imagem */
}

.text {
    flex: 1;
    display: flex;
    align-items: center; /* Centraliza o texto verticalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo para contraste */
}

.text p {
    margin: 0; /* Remove a margem padrão do parágrafo */
    text-align: left;
}
